<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Include meta and header -->
    {% include 'meta.html' %}
    <title>{{ title }}</title>

    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="wrapper"> <!-- Main wrapper for flexbox -->
        <!-- Include Header -->
        {% include 'header.html' %}

        <!-- Main Content Block -->
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>

    <!-- Include Footer -->
    {% include 'footer.html' %}

    <!-- Include JavaScript files -->
    {% block scripts %}
    {% include 'scripts.html' %}
    {% endblock %}
</body>

</html>
