{% extends 'base.html' %}

{% block content %}
<center>
    <table cellpadding="2" cellspacing="0" width="80%">
        <tr>
            <td class="bodytext">
                <h2>Frequently Asked Questions (FAQ)</h2>

                <h3>What is ircquotes?</h3>
                <p>ircquotes is a community-driven website where users can submit and browse memorable quotes from IRC (Internet Relay Chat).</p>

                <!-- Add the rest of the FAQ content here -->
                
            </td>
        </tr>
    </table>
</center>
{% endblock %}
