<footer>
    <center>
        <table border="0" cellpadding="2" cellspacing="0" width="80%" class="footer-table">
            <tr>
                <td class="footertext" align="left">&nbsp;</td>
                <td class="footertext" align="right">
                    {{ approved_count }} quotes approved; {{ pending_count }} quotes pending
                </td>
            </tr>
        </table>

        <font size="-1">
            &#169; ircquotes 2024, All Rights Reserved.
        </font>
    </center>
</footer>
