{% extends 'base.html' %}

{% block content %}
<center>
    <!-- Add a Quote Form -->
    <form action="/submit" name="add" method="POST">
        <table cellpadding="2" cellspacing="0" width="60%">
            <tr>
                <td><textarea cols="100%" rows="10" name="quote" class="text"></textarea></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Submit Quote" class="button" name="submit1">
                </td>
            </tr>
            <tr>
                <td>
                    <br><br>
                    You may submit quotes from any chat medium, so long as they have reasonable
                    formatting (IRC, AIM, ICQ, Yahoo, NOT MSN or MS Chat).<br><br>
                    Tips for approval: no timestamps, keep it short (trim useless parts), remove trailing laughs, and avoid inside jokes.
                </td>
            </tr>
            <tr>
                <td class="bodytext">
                    <br><font size="-1"><b>Privacy Note:</b> Your IP address is never displayed publicly.</font>
                </td>
            </tr>
        </table>
    </form>
</center>
{% endblock %}
